@import '../../../../scss//Variable.scss';

.info-product-cart {
    position: relative;

    h5 {
        color: $color-title;
        font-size: 25px;
    }
    
    .price {
        color: $color-price;
        margin-top: 20px;
        font-size: 20px;
    }

    .amount {
        li {
            list-style: none;
            margin-right: 30px;

            a {
                padding: 10px;
                text-decoration: none;
            }
        }
    }

    .show-detail {
        position: absolute;
        right: 0;
        bottom: 0;

        a {
            text-decoration: none;
            color: $color-price;
            padding: 10px;
        }
    }

    .btn-delete {
        position: absolute;
        right: 0;
        top: 0;

        button {
            font-size: 20px;
        }
    }
}