$color-white: #fff;

$bg-color: #4db6ac;

$bg-color-btn: black;

$font-size-btn: 18px;

$hover-text-btn: #ffc107;

$bg-content: #fafafa;

$bg-white: #fff;

$color-title: #9e9e9e;

$color-btn-dot: #9e9e9e;

$color-btn-dot-active: #0091ea;

$color-price: #ff3d00;