//text title
$color-white: #fff;

$color-title: #9e9e9e;

$size-title-home: 35px;

// color background
$bg-color: #4db6ac;

$bg-content: #fafafa;

$bg-white: #fff;

// color button
$color-btn-dot: #9e9e9e;

$color-btn-dot-active: #0091ea;

$bg-color-btn: black;

$font-size-btn: 18px;

$hover-text-btn: #ffc107;

// color price
$color-price: #ff3d00;